#thumb {
  width: 100%;
  height: 10000px;
  background: #00d2ff; /* fallback for old browsers */

  background: linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 130px;
  font-size: 25px;
}
a {
  color: blue;
  background-color: white;
  order: none;
}
a:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.head {
  height: 64px;
  gap: 23px;
  display: flex;
  align-items: center;
}
img {
  height: 50%;
  width: 10%;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: white;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#thumb {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flop {
  margin-top: 30px;
  color: white;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  padding-right: 500px;
  margin-left: 450px;
}

.fever {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Chia thành 3 cột bằng nhau */
  gap: 20px; /* Khoảng cách giữa các div */
}

.flod {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.bo {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

h1 {
  font-size: 29px;
  margin-top: 10px;
  color: red;
}

p {
  font-size: 25px;
  line-height: 1.5;
}
/* .fever {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  margin-top: 1002px;
}
.flod {
  border: 1px solid gray;
  color: gray;
  width: 420px;
  height: 1300px;
  text-align: center;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  display: flex;
  border-radius: 3%;
  background-color: #f7f8fc;
  padding: 24px;
  gap: 20px;
}
.flop {
  margin-left: 270px;
  height: 2%;
  width: 30%;
}

input {
  width: 200%;
  height: 30%;
}
.bo {
  height: 100%;
  width: 70%;
}
p {
  color: black;
}
h1 {
  color: red;
}
.fled {
  border: 1px solid gray;
  color: gray;
  width: 450px;
  height: 1300px;
  text-align: center;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  display: flex;
  border-radius: 3%;
  background-color: #f7f8fc;
  padding: 30px;
  gap: 20px;
}
.few {
  width: 110%;
  height: 300%;
  margin-top: 100px;
  margin-left: 25px;
} */
